<p id="notice"><%= notice %></p>



<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Hike</th>
      <th>Elevation</th>
      <th>Distance</th>
      <th>Level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.location %></td>
        <td><%= post.title %></td>
        <td><%= post.elevation %></td>
        <td><%= post.distance %></td>
        <td><%= post.level %></td>
        <td><%= link_to 'View', post %></td>
        <td><%= link_to 'Edit Venture', edit_post_path(post) %></td>
        <td><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


